body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2b2d42;
  font-family: sans-serif;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#time-left {
  font-size: 6rem;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000;
}

.timer-button {
  background-color: #9146ff;
  color: #fff;
  font-size: 2rem;
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  text-shadow: 2px 2px #000;
  transition: background-color 0.2s ease-in-out;
}

.timer-button:hover {
  cursor: pointer;
  background-color: #8035cc;
}

.timer-button:active {
  background-color: #6b2e9e;
}

.pomodoro-button {
  background-color: #5de61a;
}

.short-break-button {
  background-color: #f5be1f;
}

.long-break-button {
  background-color: #f04747;
}

.reset-button {
  background-color: #4f545c;
}

.timer-button:not(.pomodoro-button):not(.short-break-button):not(.long-break-button):not(.reset-button) {
  margin: 10px 10px 10px 0;
}

