body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202225;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#time-left {
  font-size: 6rem;
  color: #fff;
  margin-bottom: 20px;
}

.timer-button {
  background-color: #7289da;
  color: #fff;
  font-size: 2rem;
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

.timer-button:hover {
  cursor: pointer;
  background-color: #677bc4;
}

.timer-button:active {
  background-color: #5865af;
}

.pomodoro-button {
  background-color: #43b581;
}

.short-break-button {
  background-color: #faa61a;
}

.long-break-button {
  background-color: #f04747;
}

.reset-button {
  background-color: #4f545c;
}

.timer-button:not(.pomodoro-button):not(.short-break-button):not(.long-break-button):not(.reset-button) {
  margin: 10px 10px 10px 0;
}
