body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #202020;
  font-family: Arial, sans-serif;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  color: #fff;
}

#time-left {
  font-size: 6rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px #000;
}

.timer-button {
  background-color: #f00;
  color: #fff;
  font-size: 2rem;
  padding: 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  text-shadow: 2px 2px #000;
  transition: background-color 0.2s ease-in-out;
}

.timer-button:hover {
  cursor: pointer;
  background-color: #d00;
}

.timer-button:active {
  background-color: #a00;
}

.pomodoro-button {
  background-color: #f00;
}

.short-break-button {
  background-color: #0f0;
}

.long-break-button {
  background-color: #00f;
}

.reset-button {
  background-color: #666;
}

.timer-button:not(.pomodoro-button):not(.short-break-button):not(.long-break-button):not(.reset-button) {
  margin: 10px 10px 10px 0;
}

